* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --very-light-gray-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --dark-gray: rgb(107, 107, 107);
  --light-gray: rgb(226, 226, 226);
  --black: rgb(0, 0, 0);
  --container-width: 80vw;
}

body {
  --background-color: var(--very-light-gray-bg);
  --text-color: var(--very-dark-blue-text);
  --element-background-color: var(--white);
  --input-background-color: var(--white);
  --input-text-color: var(--dark-gray);
  --box-shadow-color: var(--light-gray);
  --icon-color: var(--black);

  --icon-font-weight: medium;
}

.dark-theme {
  --background-color: var(--very-dark-blue-bg);
  --text-color: var(--white);
  --element-background-color: var(--dark-blue);
  --input-background-color: var(--dark-blue);
  --input-text-color: var(--white);
  --box-shadow-color: hsl(209, 29%, 17%);
  --icon-color: var(--white);

  --icon-font-weight: bold;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 4px var(--box-shadow-color);
  background: var(--element-background-color);
}

.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--container-width);
  height: 70px;
  background: none;
}

#header-title {
  font-size: 1.5rem;
  font-weight: 800;
  background: none;
}

.theme {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: none;
}

.theme .fa-moon {
  font-size: 1.1rem;
  color: var(--icon-color);
  background: none;
  font-weight: var(--icon-font-weight);
}

.go-back {
  display: flex;
  justify-content: center;
}

.go-back .container {
  width: var(--container-width);
  margin: 80px 0;

}

.go-back .container p {
  padding: 10px 40px;
  gap: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 8px 1px var(--box-shadow-color);
  width: max-content;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;

}

.selected-country {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.selected-country .container {
  width: var(--container-width);
  display: flex;
  gap: 150px;
}

#flag {
  width: 45%;
  height: 400px;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 50px;
}

#country-heading {
  font-size: 2rem;
  font-weight: 900;
}

.detail-container {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}

.label {
  padding: 8px 0;
  font-size: 1.1rem;
}

.label-name {
  font-weight: 700;
  margin-right: 5px;
}

.border-countries-container {
  display: flex;
  align-items: center;
}

.border-countries-container .label-name {
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.1rem;
}

#border-countries {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

#border-countries .border-countries-text {
  box-shadow: 1px 1px 8px 1px var(--box-shadow-color);
  padding: 5px 8px;
  cursor: pointer;
  background-color: var(--element-background-color);
  color: var(--text-color);
}

@media only screen and (max-width: 1200px) {
  .header .header-container #header-title {
    font-size: 1rem;
    font-weight: 800;
  }

  .selected-country .container {
    flex-direction: column;
  }

  .selected-country #flag,
  .selected-country #details {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #details .detail-container {
    flex-direction: column;
  }

  .selected-country .container {
    gap: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .header .header-container #header-title {
    font-size: 1rem;
    font-weight: 800;
  }
}
