
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --very-light-gray-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --dark-gray: rgb(107, 107, 107);
  --light-gray: rgb(226, 226, 226);
  --black: rgb(0, 0, 0);
  --container-width: 80vw;
}

body {
  --background-color: var(--very-light-gray-bg);
  --text-color: var(--very-dark-blue-text);
  --element-background-color: var(--white);
  --input-background-color: var(--white);
  --input-text-color: var(--dark-gray);
  --box-shadow-color: rgb(226, 226, 226);
  --icon-color: var(--black);
  --container-width: 80vw;

  --icon-font-weight: medium;
}

.dark-theme {
  --background-color: var(--very-dark-blue-bg);
  --text-color: var(--white);
  --element-background-color: var(--dark-blue);
  --input-background-color: var(--dark-blue);
  --input-text-color: var(--white);
  --box-shadow-color: hsl(209, 29%, 17%);
  --icon-color: var(--white);

  --icon-font-weight: bold;
}


.header {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px 4px var(--box-shadow-color);
  background: var(--element-background-color);
}

.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--container-width);
  height: 70px;
  background: none;
}

#header-title {
  font-size: 1.5rem;
  font-weight: 800;
  background: none;
}

.theme {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: none;

}

.theme .fa-moon {
  font-size: 1.1rem;
  color: var(--icon-color);
  background: none;
  font-weight: var(--icon-font-weight);
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide{
   display: none;
}

.show{
   display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-filter .search-container {
  width: var(--container-width);
  display: flex;
  justify-content: space-between;
}

.search-filter .search-container .search {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
  width: 40%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 4px var(--box-shadow-color);
  background-color: var(--input-background-color);
}

.search-filter .search-container .search .fa-magnifying-glass {
  color: var(--input-text-color);
  font-size: 1.1rem;
  background: none;
}

#search-input {
  border: none;
  outline: none;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}

.search-filter .search-container .filter select {
  border: none;
  height: 100%;
  padding: 10px 30px;
  background: var(--element-background-color);
  border-radius: 4px;
  color: var(--text-color);
  box-shadow: 1px 1px 10px 4px var(--box-shadow-color);
}

option {
  padding: 10px;
  color: var(--text-color);
}

.countries {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.countries .countries-container {
  width: var(--container-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 80px;
}

.countries .countries-container .card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 4px var(--box-shadow-color);
  cursor: pointer;
  padding-bottom: 20px;
  background-color: var(--element-background-color);
}

.countries .countries-container .card .label {
  font-weight: 600;
  background: none;
}

.countries .countries-container .card .value {
  background: none;
  font-weight: 300;
}

.countries .countries-container .card img {
  height: 50%;
  object-fit: cover;
}

.countries .countries-container .card p {
  padding: 0 0 5px 30px;
  background: none;
}

.countries .countries-container .card h2 {
  font-size: 1.5rem;
  padding: 30px 0 30px 30px;
  width: 90%;
  background: none;
}

.countries .countries-container .card:hover {
  scale: 1.05;
  transition: all ease 0.2s;

}

@media only screen and (max-width: 1200px) {
  .header .header-container #header-title {
    font-size: 1rem;
    font-weight: 800;
  }

  .countries .countries-container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 700px) {
  .countries .countries-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .search-filter .search-container {
    flex-direction: column;
    width: 80vw;
    gap: 30px;
  }

  .search-filter .search-container .search .fa-magnifying-glass {
    padding: 0px 20px;
  }

  .search-filter .search-container .search {
    width: 100%;
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 450px) {
  .header .header-container #header-title {
    font-size: 1rem;
    font-weight: 800;
  }

  .countries .countries-container {
    grid-template-columns: 90% !important;
  }
}
